.footer {
  width: 100%;
  padding: 20px 40px;
  background: var(--color-white);

  flex-wrap: wrap;
  gap: 20px;

  overflow: hidden;
}

.footer__logo {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--playfair-display);
  text-transform: uppercase;
  color: var(--secondary-color);

  cursor: pointer;
}

.footer__logo span {
  color: var(--primary-color);
}

.footer ul {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 64px;
}

.footer ul:last-child {
  gap: 32px;
}

.footer__nav li {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  text-transform: uppercase;
  color: var(--secondary-color);

  cursor: pointer;
}

.footer__social li {
  width: 42px;
  height: 42px;

  background-color: var(--secondary-color);
  border-radius: 100%;
}

.footer__social li img {
  width: 45%;
  height: 45%;

  object-fit: contain;
}

/* ============================= */
.icons {
  display: flex;
  column-gap: 25px;
}
.icon {
  display: inline-flex;
  width: 60px;
  height: 60px;
  text-decoration: none;
  font-size: 26px;
  color: #1d1d1d;
  border-radius: 50%;
  outline: 2px solid #211e1e;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}
.icon:hover {
  outline-offset: 4px;
}
.icon i {
  margin: auto;
}
.icon:hover i {
  animation: shake 0.25s;
}
.icon--instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: #a02d76;
}
.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}
.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}
.icon--github:hover {
  background-color: #2ea44f;
  outline-color: #2ea44f;
}
@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}
